@page "{id:int?}"
@using System.Text.Json
@model eVybir.Pages.ManageCampaignModel
@{
    Model.SetPageData(ViewData);
}

<div>
    <h1 class="text-center">Учасники виборчих подій</h1>
    @if(Model.ShowOnlyList){
        <table class="table">
            <thead>
                <tr>
                    <th>Повна назва</th>
                    <th>Початок голосування</th>
                    <th>Закінчення голосування</th>
                    <th>Перехід</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var camp in Model.Campaigns)
                {
                    <tr>
                        <td>@camp.Entity.Name</td>
                        <td>@camp.Entity.Start</td>
                        <td>@camp.Entity.End</td>
                        <td><a href="@("ManageCampaign/" + camp.Key)">Управляти</a></td>
                    </tr>
                }
            </tbody>
        </table>
    } 
    else
    {
        <label for="topCampaignSelector">Виборча подія:</label>
        <select id="topCampaignSelector" name="topCampaignSelector">
            @foreach (var camp in Model.Campaigns)
            {
                <option value="@camp.Key">@camp.Entity.Start.DateTime.ToShortDateString() | @camp.Entity.Name</option>
            }
        </select>
        <button onclick="switchCampaign()">Перейти</button>
        <hr />
        <script>document.getElementById('topCampaignSelector').value="@Model.CurrentCampaignId"</script>
        <div class="campaignManagerGrid">
            <div>
                <input type="radio" name="filterType" onclick="filterCandidates()" id="radioAll" data-filter="@Candidate.EntryType.Spoil|@Candidate.EntryType.Person|@Candidate.EntryType.Group" checked /><label for="radioAll">Всі</label>
                <input type="radio" name="filterType" onclick="filterCandidates()" id="radioIndividual" data-filter="@Candidate.EntryType.Spoil|@Candidate.EntryType.Person" /><label for="radioIndividual">Фізичні особи</label>
                <input type="radio" name="filterType" onclick="filterCandidates()" id="radioGroup" data-filter="@Candidate.EntryType.Spoil|@Candidate.EntryType.Group" /><label for="radioGroup">Групи та партії</label>
            </div>
            <div style="grid-column:2/4;">Кандидати в бюлетені</div>
            <div>
                <select multiple size="20" style="overflow:auto;max-width:35vw;" id="leftSelect" onclick="updateButtonStates()">
                    @foreach (var cand in Model.Candidates.Where(dbc => !Model.IncludedCandidateIds.Contains(dbc.Key)).OrderBy(c=>c.Entity.Name))
                    {
                        var candidate = cand.Entity;
                        <option value="@cand.Key" data-kind="@cand.Entity.EntryKind">
                            @candidate.Name
                            @(candidate.Date.HasValue ? $"({candidate.Date.Value.ToShortDateString()})" : string.Empty) -
                            @(candidate.Kind)
                        </option>
                    }
                </select>
            </div>
            <div>
                <select size="20" style="overflow:auto;width:100%;" id="rightSelect" onclick="updateButtonStates()">
                    @foreach (var participant in Model.ParticipantsRoot)
                    {
                        var candidate = Model.Candidates.Single(c => c.Key == participant.CandidateId).Entity;
                        <option value="@participant.CandidateId" class="node-primary">
                            @candidate.Name
                            @(candidate.Date.HasValue ? $"({candidate.Date.Value.ToShortDateString()})" : string.Empty) -
                            @(candidate.Kind)
                        </option>
                        @foreach (var partL2 in participant.Children)
                        {
                            candidate = Model.Candidates.Single(c => c.Key == partL2.CandidateId).Entity;
                            <option value="@partL2.CandidateId" class="node-secondary">
                                @candidate.Name
                                @(candidate.Date.HasValue ? $"({candidate.Date.Value.ToShortDateString()})" : string.Empty) -
                                @(candidate.Kind)
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="d-flex flex-column gap-3 justify-content-center" >
                <button disabled id="btnUp">Рухати вище⬆️</button>
                <button disabled id="btnDn">Рухати нижче⬇️</button>
                <button disabled id="btnDel">Прибрати виділене❌</button>
                <button id="btnClr">Прибрати все❌</button>
            </div>
            <div>
                <button disabled id="btnAddParent" onclick="addAsParent()">Додати як Кандидатів▶️</button>
                <button disabled id="btnAddChild">Додати як членів групи⏩</button>
            </div>
            <div>
                <button disabled id="btnPromote">Повисити до Кандидата⤴️</button>
                <button disabled id="btnDemote">Понизити до члена групи↪️</button>
            </div>
            <div>
                <form class="w-100 h-100" method="post">
                    <input type="hidden" name="inclusionModel" id="inclusionModel" value="@JsonSerializer.Serialize(Model.ParticipantsRoot)" />
                    <input type="submit" class="w-100 h-100 fw-bold" value="Зберегти✅" />
                </form>
            </div>
        </div>
    }
</div>
