@page
@model eVybir.Pages.RegisterModel
@{
    Model.SetPageData(ViewData);
}
<div>
    <h1 class="text-center">Виборчі бюлетені</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Вибори</th>
                <th>Бюлетень отримано</th>
                <th>Тип голосування</th>
                <th>Голос віддано</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ct in TicketsDb.GetUserCampaignsStatus(Model.LoginData!.Id))
            {
                <tr>
                    <td>@ct.CampaignName @if(ct.IsCampaignFinished){<span class="badge bg-info text-dark">- завершено</span>}
                    </td>
                    <td>@ct.UfTicketReceived</td>
                    <td>@ct.UfTicketSource</td>
                    <td>@ct.UfTicketCommitted</td>
                    <td>
                        @if (!ct.IsCampaignFinished)
                        {
                            @if(ct.Ticket == null || (!ct.Ticket.IsTicketOffline && !ct.Ticket.TicketCommittedDate.HasValue))
                            {
                                <form method="post">
                                <input type="hidden" name="campaignId" value="@ct.CampaignId" />
                                <input type="hidden" name="ticketId" value="@ct.Ticket?.TicketId" />
                                @if (ct.Ticket == null)
                                {
                                    <input type="submit" value="Отримати бюлетень" class="btn-primary" asp-page-handler="register" />
                                }
                                else
                                {
                                    <a class="btn-primary" href="/Vote/@ct.Ticket.TicketId" >Голосувати</a>
                                    <input type="submit" value="Скасувати бюлетень" class="btn-secondary" asp-page-handler="cancel" />
                                }
                                </form>
                            }
                            else if(ct.Ticket?.IsTicketOffline == true)
                            {
                                <span>(Недоступно - скасувати бюлетень виданий оффлайн може лише член ТВК)</span>
                            }
                        }
                        else if(ct.Ticket?.TicketCommittedDate !=  null || (ct.Ticket?.IsTicketOffline == true && ct.IsCampaignFinished))
                        {
                            <span class="text-success">Дякуємо за волевиявлення!</span>
                        }
                        else if(ct.Ticket == null)
                        {
                            <span class="text-muted">Нажаль,ви не прийняли участь в голосуванні.</span>
                        }
                        else if(ct.Ticket.TicketCommittedDate == null)
                        {
                            <span class="text-muted">Нажаль,ви не скористалися виданим бюлетенем.</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
