@page
@model eVybir.Pages.RegisterModel
@{
    Model.SetPageData(ViewData);
}
<div>
    <h1 class="text-center">Виборчі бюлетені</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Вибори</th>
                <th>Бюлетень отримано</th>
                <th>Тип голосування</th>
                <th>Голос віддано</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ct in TicketsDb.GetUserCampaignsStatus(Model.LoginData!.Id, false))
            {
                <tr>
                    <td>@ct.CampaignName @if(ct.IsCampaignFinished){<span class="badge bg-info text-dark">- завершено</span>}</td>
                    <td>@ct.UfTicketReceived</td>
                    <td>@ct.UfTicketSource</td>
                    <td>@ct.UfTicketCommitted</td>
                    <td>
                        @if (!ct.IsCampaignFinished && ct.Ticket?.TicketCommittedDate == null)
                        {
                            @if(ct.Ticket == null)
                            {
                                <form method="post" asp-page-handler="register">
                                    <input type="hidden" name="campaignId" value="@ct.CampaignId" />
                                    <input type="submit" value="Отримати бюлетень" class="btn btn-primary" />
                                </form>
                            }
                            else if(ct.Ticket.IsTicketOffline)
                            {
                                <span>(Недоступно: голосуйте офлайн; для голосування онлайн, скасуйте бюлетень виданий оффлайн, звернувшись до членів ТВК)</span>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="cancel">
                                    <input type="hidden" name="ticketId" value="@ct.Ticket.TicketId" />
                                    <a class="btn btn-primary" href="/Vote/@ct.Ticket.TicketId">Голосувати</a>
                                    <input type="submit" value="Скасувати бюлетень" class="btn btn-secondary"/>
                                </form>
                            }
                        }
                        else if(ct.Ticket?.TicketCommittedDate !=  null || (ct.Ticket?.IsTicketOffline == true && ct.IsCampaignFinished))
                        {
                            <span class="text-success">Дякуємо за волевиявлення!</span>
                        }
                        else if(ct.Ticket == null)
                        {
                            <span class="text-muted">Ви не приймали участь в голосуванні.</span>
                        }
                        else if(ct.Ticket.TicketCommittedDate == null)
                        {
                            <span class="text-muted">Нажаль, ви не скористалися виданим бюлетенем.</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
